<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Login to Mysql</title>
</head>
<body>
    <h2>Admin Login Page</h2>
    <form action="/adminlog" method='post'>
        <label for=id">ID:</label><br>
        <input type="text" id="id" name="id" ><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" ><br><br>
        <input type="submit" value="login">
        
    </form> 
    
</body>
</html>