<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Login Page</title>
</head>
<body>
    <p>   {% if status==True %}
        <p>Wrong Password !!</p>
        
    {% endif %}    </p>

    <p> 
        {% if status=='new' %}
            <p>New user created successfully  , enter credential to login</p>
        {% endif %}
    </p>

    <form action="/log" method='post'>
        <label for=id">ID:</label><br>
        <input type="text" id="id" name="id" ><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" ><br><br>
        <!-- <button type="submit" class="btn btn-outline-primary" value="log">submit</button> -->
        <input type="submit" value="Log in">
        
    </form> 
    <br><br><br>

    {% if status!='new' %}
    <form action="/newuser" method='post'>
        <label for=id">if not a user : click here to create new user account</label><br>
        <input type="submit" value="SignUp">
        
    </form>
{% endif %}

<br><br><br><br><br><br><br><br><br><br>
<form action="/admin" method='post'>
    <label for=id">Admin Login</label><br>
    <input type="submit" value="admin page">
    
</form>
    

  

    
</body>
</html>