<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Login Table -Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
</head>
<body><br>

    <caption><h4>Admin DataBase :  <input type='button' value='Back' style="margin-left: 90%;" onclick="history.back()"></h4>
   
    </caption><br><br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">password</th> 
            <th scope="col">Name</th> 
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
         
          {% for i in val %}
          <tr>
            <th scope="row" >#</th>
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
              <td>{{i[3]}}</td>
              <td>{{i[4]}}</td>
              <td>{{i[5]}}</td>
              <td>{{i[6]}}</td>
              
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <!-- <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> -->
</body>
</html>