<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>
<style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
<body>

        
         
         <table style="width:100%">
             <caption><h4>Admin DataBase :</h4></caption>
             <tr>
                 <th>id</th>
                 <th>password</th> 
                 <th>name</th> 
                 <th>Email</th>
                 <th>phone</th>
                 <th>birth date</th>
                 <th>age</th>
             
                </tr>
                {% for i in val %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                    
                </tr>
                {% endfor %}
                
            </table>
          
        </body>
</html>