<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Submit Details</title>
</head>

<body>
<p>{{status}}</p>
    <form action="/newusersubmit" method='post'>
        <label for="Science">name:</label><br>
        <input type="text" id="name" name="name" ><br>
        <label for="Maths">email:</label><br>
        <input type="email" id="email" name="email" ><br><br>
        <label for="C ">phone:</label><br>
        <input type="text" id="phone" name="phone"><br><br>
        <label for="birthday">Birth Date:</label><br>
        <input type="date" id="birthday" name="birthday"><br><br>


        <label for="datascience">userid:</label><br>
        <input type="text" id="userid" name="userid" ><br><br>
        <label for="datascience">password:</label><br>
        <input type="text" id="pas" name="pas" ><br><br>
        <input type="submit" value="Submit">
      </form> 
      
    
</body>
</html>






