<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>!! Empty cart</title>
</head>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
       
       
        margin-bottom: 1%;
        height: 50px;
        width: 30%;
     }
</style>
<body>
<img src='/static/assets/images/empty_cart.jpeg' alt='' height="40%" width="55%">

    <div class='footer'>
        <img src="/static/assets/images/left.png" alt="" height="40px" width="80px" onclick="history.back()"> 
      </div>
    
</body>
</html>